@charset "utf-8";
*{
	padding:0;
	margin:0;
	box-sizing:border-box;
	font:normal 0.1875rem "微软雅黑";
} 

body{
	background-color:#efefef;
	
}
#page header{
	width:100%;
	height:1.40625rem;
	background-color:#ffd600;
	display: flex;
	align-items:center;
	justify-content:space-between;

}
#page header div:nth-of-type(1){
	padding-left:0.15625rem;

}
#page header div:nth-of-type(1) img{
	width:0.546875rem;
	height: 0.5625rem;
	margin-left:0.1875rem;
	
}
#page header span{
	display:block;
}
#page header div:nth-of-type(2) h1{
	/*font-weight:bold;*/
	font-size: 0.46875rem;
	/*background: red;*/
}
#page header div:nth-of-type(3){
	padding-right:0.15625rem;
}
#page header div:nth-of-type(3) img{
	width:0.625rem;
	height: 0.625rem;
}
#page .banner img{
	width:10.0rem;
	height:5.0rem;

}
#page .icon{
	height:4.890625rem;
	margin-top:0.546875rem;
	background-color:#fff;
}
#page .icon div{
	width: 100%;
	display: flex;
	height:50%;
	align-items:center;
	justify-content:space-around;
}
#page .icon div dl dt img{
	width:1.75rem;
	height: 1.484375rem;
}
#page .icon div dl{
	text-align: center;
	/*width: 0.9375rem;*/
}
#page .icon div dl dd{
	text-align: center;
}
#page .haze{
	width:100%;
	height:1.015625rem;
	background-color: #fff;
	margin-top:0.546875rem;
	display: flex;
	align-items:center;
}
#page .haze>a:nth-of-type(1){
	padding:0.140625rem 0.15625rem;
	
	border-right:2px solid #e0e0e0;
	

}
#page .haze a:nth-of-type(1) img{
	width:1.9375rem;
	height:0.578125rem;


}
#page .haze a:nth-of-type(2){
	margin-left:0.15625rem;
}
#page .haze a:nth-of-type(2) img{
	width:0.78125rem;
	height:0.46875rem;

} 
#page .haze span{
	color:#999;
	margin-left:0.15625rem;
}
#page .icon_three{
	width:100%;
	height:4.375rem;
	display:flex;
	margin-top:0.546875rem;

}
#page .icon_three img{
	width:3.3333rem;
	height:4.375rem;
	border-right:1px solid #e0e0e0;
}
#page .icon_four{
	width:100%;
	height:4.0625rem;
	margin-top:0.546875rem;
}
#page .icon_four div:first-of-type{
	width:100%;
	height:2.0rem;
	display: flex;
	border-bottom:0.015625rem solid red;

}
#page .icon_four div img{
	width:50%;
	height:2.0rem;
}
#page .icon_four div:last-of-type{
	width:100%;
	height:2.0rem;
	display: flex;

}
#page .icon_four div img{
	width:50%;
	height:2.0rem;
}
/*优选水果*/
#page .goodfruit{
	width:100%;
	height:9.9375rem;
	background-color:#fff;
	margin-top:0.546875rem;
}
#page .goodfruit_title{

	height:1.25rem;
	line-height:1.25rem;
}
#page .goodfruit_title>span:first-of-type{
	display: inline-block;
	width:0.25rem;
	height:0.46875rem;
	background-color:#f38631;
	margin-left:0.234375rem;
	margin-right:0.234375rem;

}
#page .goodfruit_title>span:nth-of-type(2){
	color:#f38631;
	font-weight:bold;
	font-size:0.46875rem;
}
#page .goodfruit_title a{
	float:right;
	display:block;
	line-height:1.25rem;
	color:#a7a7a7;
	padding-right:0.34375rem;
	white-space:pre;
	font-size:0.3125rem;
}
#page .goodfruit_title>a>span{
	color:#5d5d5d;
}
#page .goodfruit_banner img{
	display:block;
	width:9.46875rem;
	height:2.375rem;
	margin:0 auto;
}
.goodfruit_deail{
	display:flex;
	height:9.65625rem;
}
.goodfruit_deail div{
	width:3.265625rem;
	height:5.71875rem;
	margin-top:0.15625rem;
	border-right:1px solid #e0e0e0;
	position: relative;
}
.goodfruit_deail div>a img:first-of-type{
	width: 2.578125rem;
	height: 2.28125rem;
	display:block;
	margin:0 auto;
	margin-left:0.15625rem;
}
.goodfruit_deail div img:nth-of-type(1){
	width: 0.875rem;
	height:0.453125rem;
	margin-left:0.15625rem;
}
.goodfruit_deail div img:nth-of-type(2){
	width:1.5rem;
	height:0.4375rem;
}
.goodfruit_deail div p:first-of-type{
	margin-left:0.15625rem;
	line-height:0.725rem;
}
.goodfruit_deail div p:nth-of-type(2){
	margin-left:0.15625rem;
	line-height:0.725rem;
	color:#9a9a9a;
}
.goodfruit_deail div span:first-of-type{
	color:#ff4e1c;
}
.goodfruit_deail div span:last-of-type{
	color:#9b9b9b;
	text-decoration: line-through;
}
.goodfruit_deail .add{
	width:0.9375rem;
	height:0.9375rem;
	position:absolute;
	right:0.46875rem;
	bottom:0.56875rem;

}
#page footer{
	position:fixed;
	bottom: 0;
	display: flex;
	width:100%;
	height:1.5625rem;
	/*border:1px solid gray;*/
	align-items:center;
	justify-content:space-around;
	box-sizing:border-box;
	background-color:#f6f1ec;
}
#page footer img{
	width:0.625rem;
	height:0.625rem;
}
#page footer dl dd{
	color:#777;
	text-align:center;
}
#page footer dl dt{
	width:0.625rem;
	height:0.625rem;
	margin:0 auto;
}
